{% extends 'base.html' %}

{% load static %}

{% block title %}О нас{% endblock %}
{% block subtitle %}Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют. Давно выяснено, что при оценке дизайна
и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют.{% endblock %}
{% block kevas_title %}kevas_title-about_us{% endblock %}
{% block kevas_subtitle %}kevas_subtitle-about_us{% endblock %}
{% block kevas_razmer %}kevas-shop{% endblock %}


{% block content %}
<div class="container">
<div class="our_company">
    <section class="our_company_one">
        <div class="our_company_one_adv">
            <div class="our_company_one_adv_item">
                <img src="https://place-hold.it/51x51" alt="1" class="our_company_one_adv_item_img">
                <div class="our_company_one_adv_item_text">Lorem Ipsum используют.</div>
            </div>
            <div class="our_company_one_adv_item">
                <img src="https://place-hold.it/51x51" alt="2" class="our_company_one_adv_item_img">
                <div class="our_company_one_adv_item_text">Lorem Ipsum используют.</div>
            </div>
            <div class="our_company_one_adv_item">
                <img src="https://place-hold.it/51x51" alt="3" class="our_company_one_adv_item_img">
                <div class="our_company_one_adv_item_text">Lorem Ipsum используют.</div>
            </div>
            <div class="our_company_one_adv_item">
                <img src="https://place-hold.it/51x51" alt="4" class="our_company_one_adv_item_img">
                <div class="our_company_one_adv_item_text">Lorem Ipsum используют.</div>
            </div>
            <div class="our_company_one_adv_item">
                <img src="https://place-hold.it/51x51" alt="5" class="our_company_one_adv_item_img">
                <div class="our_company_one_adv_item_text">Lorem Ipsum используют.</div>
            </div>
        </div>
        <div class="our_company_one_facts">
            <div class="our_company_one_facts_item">
                <div class="our_company_one_facts_item_text">10</div>
            </div>
            <div class="our_company_one_facts_item">
                <div class="our_company_one_facts_item_text">100</div>
            </div>
            <div class="our_company_one_facts_item">
                <div class="our_company_one_facts_item_text">250</div>
            </div>
        </div>

        <img src="https://place-hold.it/1000x370" alt="1" class="our_company_one_img">

        <div class="gpcom">
            <div class="gpcom_inner">
                <div class="gpcom_content">
                    <div class="gpcom_content_left">
                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют. Давно выяснено, что при оценке дизайна
                        и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют.
                    </div>
                    <div class="gpcom_content_right">
                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют. Давно выяснено, что при оценке дизайна
                        и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют.
                    </div>
                </div>
            </div>
        </div>
</div>
</div>

    </section>
</div>
</div>
{% endblock %}

