{% extends '../base.html' %}
{% load static %}

{% block title %}Резка металла{% endblock %}
{% block subtitle %}Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют{% endblock %}
{% block header_basket %}{{ basket_total_price }}{% endblock %}
{% block content %}
<div class="container">
<div class="circles">
    <div class="circles_inner">
        <div class="circles_item">
            <div class="circles_item_number">
                <img src="{% static 'UralsSteelStore/icons/Yes.png' %}" alt="yes_icon">
            </div>
            <div class="circles_item_text circles_item_text-metcat">
                Высокая скорость и точность выполнения
            </div>
        </div>
        <div class="circles_item">
            <div class="circles_item_number">
                <img src="{% static 'UralsSteelStore/icons/Yes.png' %}" alt="yes_icon">
            </div>
            <div class="circles_item_text circles_item_text-metcat">
                Безупречное качество выполнения газоплазменной резки
            </div>
        </div>
        <div class="circles_item">
            <div class="circles_item_number">
                <img src="{% static 'UralsSteelStore/icons/Yes.png' %}" alt="yes_icon">
            </div>
            <div class="circles_item_text circles_item_text-metcat">
                Использование современного оборудования
            </div>
        </div>
    </div>
</div>
</div>

<div class="container">
{#Gas plasma cutting of metal#}
<div class="gpcom">
    <div class="gpcom_inner">
        <div class="gpcom_title">Газоплазменная резка металла</div>
        <div class="gpcom_content">
            <div class="gpcom_content_left">
                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют. Давно выяснено, что при оценке дизайна
                и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют.
            </div>
            <div class="gpcom_content_right">
                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют. Давно выяснено, что при оценке дизайна
                и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют.
            </div>
        </div>
        <img src="https://via.placeholder.com/1000x400" alt="gpcom_img" class="gpcom_img">
    </div>
</div>
</div>

<div class="container">
<div class="submitappl">
    <div class="submitappl_inner">
        <div class="submitappl_text">
            Возникли вопросы? <br>
            Оставьте заявку и мы с вами свяжемся
        </div>
        <a href="#" class="submitappl_btn">
            Оставить заявку
        </a>
    </div>
</div>
</div>

<div class="container">
<div class="stages_of_work">
    <div class="stages_of_work_title">Этапы работ</div>
    <div class="stages_of_work_inner">

        <div class="stages_of_work_item">
            <div class="stages_of_work_left">
                <div class="stages_of_work_number">01.</div>
                <img src="https://via.placeholder.com/200x100" alt="image" class="stages_of_work_img">
            </div>
            <div class="stages_of_work_right">
                <div class="stages_of_work_right_title">
                    Консультация специалиста
                </div>

                <div class="stages_of_work_right_content">
                    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют. Давно выяснено, что при оценке дизайна
                    и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют.
                </div>
            </div>
        </div>

        <div class="stages_of_work_item">
            <div class="stages_of_work_left">
                <div class="stages_of_work_number">02.</div>
                <img src="https://via.placeholder.com/200x100" alt="image" class="stages_of_work_img">
            </div>
            <div class="stages_of_work_right">
                <div class="stages_of_work_right_title">
                    Консультация специалиста
                </div>

                <div class="stages_of_work_right_content">
                    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют. Давно выяснено, что при оценке дизайна
                    и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют.
                </div>
            </div>
        </div>

        <div class="stages_of_work_item">
            <div class="stages_of_work_left">
                <div class="stages_of_work_number">03.</div>
                <img src="https://via.placeholder.com/200x100" alt="image" class="stages_of_work_img">
            </div>
            <div class="stages_of_work_right">
                <div class="stages_of_work_right_title">
                    Консультация специалиста
                </div>

                <div class="stages_of_work_right_content">
                    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют. Давно выяснено, что при оценке дизайна
                    и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют.
                </div>
            </div>
        </div>

        <div class="stages_of_work_item">
            <div class="stages_of_work_left">
                <div class="stages_of_work_number">04.</div>
                <img src="https://via.placeholder.com/200x100" alt="image" class="stages_of_work_img">
            </div>
            <div class="stages_of_work_right">
                <div class="stages_of_work_right_title">
                    Консультация специалиста
                </div>

                <div class="stages_of_work_right_content">
                    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют. Давно выяснено, что при оценке дизайна
                    и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют.
                </div>
            </div>
        </div>

        <div class="stages_of_work_item">
            <div class="stages_of_work_left">
                <div class="stages_of_work_number">05.</div>
                <img src="https://via.placeholder.com/200x100" alt="image" class="stages_of_work_img">
            </div>
            <div class="stages_of_work_right">
                <div class="stages_of_work_right_title">
                    Консультация специалиста
                </div>

                <div class="stages_of_work_right_content">
                    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют. Давно выяснено, что при оценке дизайна
                    и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют.
                </div>
            </div>
        </div>


    </div>
</div>
</div>


<div class="container">
<div class="settlement_form">
    <div class="settlement_form_title">Рассчитать стоимость резки</div>
    <form action="{% url 'metal_cutting' %}" method="POST" class="settlement_form_inner" >
        {% csrf_token %}
        <div class="settlement_form_left">

            <div class="settlement_form_left_item">
                <label for="full_name_inp" class="full_name_lab">{{ form.full_name.label }}</label>
                {{ form.full_name }}
            </div>

            <div class="settlement_form_left_item">
                <label for="{{ form.email.id_for_label }}" class="email_lab">{{ form.email.label }}</label>
                {{ form.email }}
            </div>

            <div class="settlement_form_left_item">
                <label for="{{ form.phone_number.id_for_label }}" class="ph_number_lab">{{ form.phone_number.label }}</label>
                {{ form.phone_number }}
            </div>
        </div>

        <div class="settlement_form_right">
            <label for="{{ form.comment.id_for_label }}" class="comments_lab">{{ form.comment.label }}</label>
            {{ form.comment }}
        </div>

        <div class="settlement_form_checkbox">
            {{ form.checkb }}
            <label for="checkbox_inp" class="checkbox_lab">Я согласен <u>на обработку персональных данных</u></label>
        </div>

        <a href="{% url 'metal_cutting' %}" class="settlement_form_btn">
            Отправить заявку
        </a>
        <button type="submit" class="settlement_form_btn">
            Отправить заявку
        </button>
    </form>
</div>
</div>



{% endblock %}
